#option-container{
  height: 120px;
  width: 300px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #8A4FFF;
  border: 1px solid black;
  display: flex;
  border-radius: 5px;

}

#attack{
  float: left;
  flex: 1;
  background-color: #C3BEF7;
  border: 1px solid black;
  margin: 8px 4px 8px 8px;
  border-radius: 5px;

}

#defend{
  float: right;
  flex: 1;
  background-color: #E5ECF4;
  border: 1px solid black;
  margin: 8px 8px 8px 4px;
  border-radius: 5px; 
}
#health{
  height:80px;
  width:300px;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#avatar{
  height: 25%;
  width: 8%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  position: absolute;
  bottom: 200px;
  left: 50px;
}