*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  background: url('images/background.gif');
  background-size: 146%;
  background-position: top;
  background-repeat: no-repeat;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#enemyHealthBar{
  height:15px;
  width:220px;
  background-color: red;
  position: absolute;
  border-radius: 8px;
  float:right;
  right: 73px;
  top: 47px;

}

#infoBar{
  height: 165px;
  width: 98.8%;
  background-color: grey;
  border-bottom: 8px solid #2F4F4F;
  border-left: 8px solid #2F4F4F;
  border-top: 8px solid #D3D3D3;
  border-right: 8px solid #D3D3D3;
  margin: 0 0 0 -8px;
  position: absolute;
  bottom: 0;
}

#option-container{
  height: 120px;
  width: 300px;
  position: relative;
  bottom: -25px;
  left: 20px;
  display: flex;

}

#attack{
  float: left;
  flex: 1;
  background-color: grey;
  border-bottom: 8px solid #2F4F4F;
  border-left: 8px solid #2F4F4F;
  border-top: 8px solid #D3D3D3;
  border-right: 8px solid #D3D3D3;
}

#defend{
  float: right;
  flex: 1;
  background-color: grey;
  border-bottom: 8px solid #2F4F4F;
  border-left: 8px solid #2F4F4F;
  border-top: 8px solid #D3D3D3;
  border-right: 8px solid #D3D3D3;
}

#health{
  height:80px;
  width:300px;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#enemyHealth{
  height:80px;
  width:300px;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  float: right;
  position: absolute;
  right: 8px;
  z-index: 1;
}

#enemyInfo{
  margin-top: 20px;
  margin-right: 60px;
  color: white;
  background-color: grey;
  display: inline-block;
  padding: 0 5px;
  border-bottom: 8px solid #2F4F4F;
  border-left: 8px solid #2F4F4F;
  border-top: 8px solid #D3D3D3;
  border-right: 8px solid #D3D3D3;
  float:right;
}



#playerHealthBar{
  height:15px;
  width:220px;
  background-color: red;
  margin: -45px 0 0 66px;
  border-radius: 8px;
}

#enemyDefence{
  margin-top: -15px;
}

#enemyAttack{
  margin-top: -15px;
  margin-bottom: 3px;
}

#enemyHealthNumber{
  margin-top: 3px;
}

#playerInfo{
  margin-top: 20px;
  margin-left: 60px;
  color: white;
  background-color: grey;
  display: inline-block;
  padding: 0 5px;
  border-bottom: 8px solid #2F4F4F;
  border-left: 8px solid #2F4F4F;
  border-top: 8px solid #D3D3D3;
  border-right: 8px solid #D3D3D3;
}


#playerDefence{
  margin-top: -15px;
}

#playerAttack{
  margin-top: -15px;
  margin-bottom: 3px;
}

#playerHealth{
  margin-top: 3px;
}

#avatar{
  height: 200px;
  width: 110px;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  position: absolute;
  bottom: 200px;
  left: 50px;
}

#enemy{
  position: absolute;
  bottom: 0px;
  right: 50px;
}

#enemyAvatar{
  height:200px;
  width: 110px;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  position: absolute;
  bottom: 200px;
  right: 50px;
}

#textBar{
  height: 104px;
  width: 700px;
  background-color: grey;
  border-bottom: 8px solid #2F4F4F;
  border-left: 8px solid #2F4F4F;
  border-top: 8px solid #D3D3D3;
  border-right: 8px solid #D3D3D3;
  position: absolute;
  bottom: 20px;
  right: 200px;
}

#tryAgain{
font-size: 30px;
text-align: center;
}

#yes{
  height: 50px;
  width: 100px;
  background-color: grey;
  border-bottom: 8px solid #2F4F4F;
  border-left: 8px solid #2F4F4F;
  border-top: 8px solid #D3D3D3;
  border-right: 8px solid #D3D3D3;
  position: absolute;
  left: 50%;
  margin-left: -60px
}

#no{
  height: 50px;
  width: 100px;
  background-color: grey;
  border-bottom: 8px solid #2F4F4F;
  border-left: 8px solid #2F4F4F;
  border-top: 8px solid #D3D3D3;
  border-right: 8px solid #D3D3D3;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  bottom: 0;
}

#textInfo{
  font-size: 40px;
}